#container{
   
width: 300px;
margin: auto;
margin-top: 80px;
background-color: rgb(241, 241, 241);
border-radius: 2em;
padding-top: 50px;
padding-bottom: 50px;
box-shadow: rgb(190, 189, 189) 11px 11px 11px;

}

#numberframe{
    width: fit-content;
    margin: auto;

    

}

#numberframe p{
width: fit-content;
margin: auto;
font-size: 15em;

}

#buttons{
   display: flex;
   flex-wrap: wrap;
    width: fit-content;
    margin: auto;
    margin-top: 2em;
}
#number{
    color: yellow;
}

#lower{
    height: 3em;
    width: 8em;
    border-radius: 2em;
    border-color: red;
    margin: 6px;
    background-color: white;
 
    font-family: Georgia, 'Times New Roman', Times, serif;
}
#lower:hover{
    height: 3em;
    width: 8em;
    border-radius: 2em;
    border-color: transparent;
    margin: 6px;
    background-color: red;
    color: white;
}
#higher{
    height: 3em;
    width: 8em;
    border-radius: 2em;
    border-color: green;
    margin: 6px;
    background-color: white;
    font-family: Georgia, 'Times New Roman', Times, serif;

}
#higher:hover{
    height: 3em;
    width: 8em;
    border-radius: 2em;
    border-color: transparent;
    margin: 6px;
    background-color: green;
    color: white;

}


@media only screen and (min-width:895px){

    #container{
        width: 30%;
        margin: auto;
        margin-top: 80px;
        padding-top: 80px;
        padding-bottom: 80px;
       
        
        }

        
#buttons{
    display: flex;
    flex-wrap: wrap;
     width: fit-content;
     margin: auto;
     margin-top: 2em;
 }
}